<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="65b51bf5-ede9-4dad-b00c-b030012da85f" Publisher="CN=danielmf" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PenguinDeals</DisplayName>
    <PublisherDisplayName>danielmf</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>PenguinDeals</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PenguinDeals.App">
      <VisualElements DisplayName="Winelli" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Winelli" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>